.card{
  border-radius:10px;
}

.project-title{
  font-weight: 300; /* Set the font weight to 300 (light) */
  color: #49494b;
  margin-top: 40px;
  font-size: 35px;
  text-align: left;
  font-family: 'Gentium Book Plus', serif;
  }

.project-body-header{
font-family: 'Red Hat Mono Variable', monospace;
font-size: 20px;
color: #000000;
}

.project-body{
font-family: 'Source Code Pro Variable', monospace;
color: rgb(83, 83, 83);
}

