@import '@fontsource/gentium-book-plus';
@import '@fontsource-variable/red-hat-mono';
@import '@fontsource/goudy-bookletter-1911';

.home-h1 {
    color: #49494b;
    font-size: 40px;
    /*font-family: 'Red Hat Mono Variable', monospace;*/
    font-family: 'Gentium Book Plus', serif;
    /*font-family: 'Goudy Bookletter 1911', serif;*/
    

  }


.home-body {
  color: #49494b;
  font-size: 24px;
  font-family: 'Red Hat Mono Variable', monospace;
  /*font-family: 'Gentium Book Plus', serif;*/
  /*font-family: 'Goudy Bookletter 1911', serif;*/
  margin-bottom: 20px;

}

.menu1 {
margin-bottom: 40px;
margin-top: 20px;
}

.home_box{
  align-items:start;
}

.image_class{
  align-items:start;
  margin-top: -29.7% !important;    
  clip-path: polygon(20% 0%,  
                  80% 0%, 80% 30%, 75% 75%, 50% 90%, 25% 75%, 20% 30%);
  width:90vw !important;
  height:auto;
  }
.button-with-hover {
    margin-left: 2%;
    margin-right: 2%;
    transition: box-shadow 0.3s ease; /* Optional: Add a smooth transition effect */
  }
  
.button-with-hover:hover {
    box-shadow: 0 4px 8px 0 rgba(94, 23, 235, 0.2), 0 6px 20px 0 rgba(94, 23, 235, 0.19);
}