.contact-form {
    background-color: #ffffff;
    margin-top: 50px;
    padding: 20px;
    border-radius:10px;
    border-width:1px;
    box-shadow: 0 4px 15px 0 #49494b;
  }
  
  .contact-form div {
    display: grid;
    gap: 0px; /* Add some gap between the columns */
    grid-template-columns: 1fr 1fr; /* Two items per row */
  }
  
  .contact-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;

  }
  
  .contact-form input[type="text"],
  .contact-form input[type="email"],
  .contact-form input[type="tel"],
  .contact-form textarea {
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 16px;
    width: 100%;

  }
 
  .contact-form input[type="submit"] {
    background-color: #ffffff;
    color: #49494b;
    margin-top: 10px;
    max-width: "sm";
    border-width: 1px;
    border-radius: 10px;
    overflow: 'hidden';
    transition: 'box-shadow 0.3s ease-in-out';
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .contact-form input[type="submit"]:hover {
    box-shadow: 0 4px 8px 0 rgba(94, 23, 235, 0.2), 0 6px 20px 0 rgba(94, 23, 235, 0.2);
  }
  
/* rgba(94, 23, 235, 0.2)*/
  
  form {
    max-width: 800px; /* Set a maximum width for the form */
    margin: 0 auto; /* Set the left and right margins to auto to center the form */
    
  }
  