.center-content {
    display: flex;
    align-items: center;
    height: 100vh; /* Adjust the percentage or use a fixed value for vertical adjustment */

  }

.sidebar {
    background-color: rgb(255, 255, 255) !important;
    height: 100vh;
}

.custom-menu-item{
  background-color:white !important;  
}

.menu-separator{
  border: none;
  height: 1px;
  font-weight: 100;
  background-color: #9b9b9e; /* Adjust the color as needed */
  margin: 0;
  width: 15%; /* Adjust the percentage based on your preference */
  margin-left: 42.5%; /* Adjust the left margin based on your preference */
  margin-right: 42.5%; /* Adjust the right margin based on your preference */
  margin-top: 2%;
  margin-bottom: 4%;
}